openapi: 3.1.0
info:
  title: International Trade Administration Data Services Consolidated Screening List Country Commercial Guides API
  description: The International Trade Administration (ITA) Data Services Platform provides programmatic access to authoritative U.S. trade data including the Consolidated Screening List (CSL), Country Commercial Guides (CCG), Market Intelligence, Trade Events, and the Customs Info Tariff Database. Access requires an API subscription key issued through the ITA developer portal.
  version: '1.0'
  contact:
    name: ITA Data Services
    url: https://developer.trade.gov
    email: DataServices@trade.gov
  license:
    name: ITA Terms of Service
    url: https://developer.trade.gov/terms-of-service
servers:
- url: https://data.trade.gov
  description: Production
tags:
- name: Country Commercial Guides
  description: Country-specific reports prepared by U.S. embassies covering the market conditions, opportunities, regulations, and business customs for U.S. exporters.
paths:
  /CCG/v2/search:
    get:
      tags:
      - Country Commercial Guides
      summary: Search Country Commercial Guides
      description: Search Country Commercial Guide chapters published by U.S. commercial service officers covering market conditions and opportunities.
      operationId: searchCountryCommercialGuides
      parameters:
      - name: q
        in: query
        description: Free-text query.
        schema:
          type: string
      - name: countries
        in: query
        description: Comma-separated ISO country codes.
        schema:
          type: string
      - name: industries
        in: query
        description: Comma-separated industry filter.
        schema:
          type: string
      - name: size
        in: query
        schema:
          type: integer
          default: 10
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Matching Country Commercial Guide chapters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CCGResults'
      security:
      - subscriptionKey: []
components:
  schemas:
    CCGResults:
      type: object
      properties:
        total:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/CCGChapter'
    CCGChapter:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        countries:
          type: array
          items:
            type: string
        industries:
          type: array
          items:
            type: string
        url:
          type: string
        publish_date:
          type: string
          format: date
        content:
          type: string
  securitySchemes:
    subscriptionKey:
      type: apiKey
      in: header
      name: subscription-key
      description: ITA APIs require an Ocp-Apim Subscription Key obtained from the developer.trade.gov portal.
externalDocs:
  description: ITA Developer Portal
  url: https://developer.trade.gov
